/* You can add global styles to this file, and also import other style files */

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/dark.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
body {
    font-size: 12pt;
}

div {
    font-size: 1em;
}

div .col-md-12 {
    float: right !important;
    direction: rtl;
}

.pull-right {
    font-family: 'IRANSans';
}

.smart-dt {
    font-family: 'IRANSans';
    font-size: 1em;
}

#smart {
    border: 1px solid #000;
}

#search {
    margin-bottom: 5px;
}