/* You can add global styles to this file, and also import other style files */

body {
    font-size: 12pt;
}

div {
    font-size: 12pt;
}

div .col-md-12 {
    float: right !important;
    direction: rtl;
}

.pull-right {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}